body {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #221c2f;
}

.container {
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 8px;
  padding: 20px;
  background-color: white;
}

.todo-input-grid {
  display: grid;
  grid-template-columns: 3fr 1.5fr 1fr;
  gap: 20px;
  justify-items: center;
  align-items: center;
  margin-bottom: 20px;
  width: 600px;
}

.name-input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  height: 10px;
  width: 200px;
  margin-left: 10px;
}

.due-date-input {
  width: 120px;
}

.todo-grid {
  display: flex;
  flex-direction: column;
}

.todo-item {
  display: grid;
  grid-template-columns: min-content 2fr 1fr 0.5fr 0fr;
  justify-items: start;
  align-items: center;
  padding: 5px;
  border-bottom: 1px solid #ccc;
}

.todo-name, .todo-date {
  padding: 0 10px;
}

.add-todo-button, .delete-todo-button, .edit-todo-button {
  background-color: #5c6bc0;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 15px;
}

.add-todo-button {
  background-color: #2d875c;
  width: 80px;
  margin-left: 35px;
}

.delete-todo-button {
  background-color: darkred;
  margin-left: 44px;
  padding-left: 15px;
  padding-right: 15px;
}

.add-todo-button:hover, .delete-todo-button:hover {
  background-color: #3f51b5;
}

.name-input, .due-date-input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  height: 20px;
  width: 150px;
}

.name-input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  height: 20px;
  width: 250px;
}

.done {
  text-decoration: line-through;
}

.todo-content {
  display: flex;
}